<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="off" #f="ngForm">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

    <br>

      <div class="ui-g-12">
        <input pInputText type="email" name="username" placeholder="E-mail"
          ngModel required #username>
      </div>

    <br>

      <div class="ui-g-12">
        <input pInputText type="password" name="password" placeholder="Senha"
          ngModel required #password>
      </div>

    <br>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="!f.valid"
          (click)="login(username.value, password.value); password.value = '';"></button>

          <button pButton type="submit" label="Cadastrar"
          [routerLink]="['/cadastrar']"></button>
      </div>

    </div>
  </form>

</div>
